img {
    margin-bottom: 15px;
    width: 100%;
    height: auto;
}

h3 {
    padding-top: 50px;
}

header img {
    width: 100%;
    height: 10em;
}

footer {
    width: 100%;
    height: 6%;
    padding: 10px;
    background-color: black;
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: -20px;
}

footer img {
    padding: 4px;
    width: 5%;
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: justify;
}

li {
    list-style-type: none;
    text-align: justify;
}

ul p {
    margin-bottom: 5px;
}


/*Menu*/